<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Changa&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/twentytwenty.css">
    <link rel="stylesheet" href="css/stayle.css">
    <title> I FIX GEARS </title>
</head>
<body>



    <!-- start navbar -->
    <nav class="navbar">
        <div class="grid">
            <div class="brand-togle">
                <a class=" brand" href="#">
                    <img class="w-100" src="image/i-fix.png">
                </a>
                <button class="togle  d-lg-none d-sm-block" id="toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>

            <div class="flex-navebar" id="fixed-navbar">
                <ul class="list-unstyled links text-center" id="links">
                    <li><a class="active" href="#"> الرئيسية </a></li>
                    <li><a href="#about-us">من نحن</a></li>
                    <li><a href="#our-work">اهم الاعمال </a></li>
                    <li><a href="#see-us">شـاهـدنـا</a></li>
                    <li><a href="#reviews">أراء العملاء</a></li>

                </ul>
                <ul class="list-unstyled icons text-left">
                    <li> <a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li> <a href="#"><i class="fab fa-youtube"></i></a></li>
                    <li> <a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- end navbar -->
    <!-- start slider-->
    <div class="header">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators d-none ">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="overlay"></div>

                <div class="carousel-item  active">
                    <img src="image/slider4.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption  d-md-block">
                        <h5>اهلا بكم فى </h5>
                        <h2 class="h1">I FIX <span class="last-word">GEARS</span></h2>
                        <p>نقدم لكم افضل الخدمات لتلصيح الكيبورد والماوس و الهيدفون </p>
                        <div class="button-parent">
                            <a href="#" class="btn one three" id="show-video">   <i class="fas fa-play   text-center fa-2x"></i></a>
                        </div>
                    </div>
                </div>


            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>


    <!-------------
        end header
     -------------->
    <!-------------
        start about us
     -------------->

    <section class="about-us" id="about-us">
        <div class="container">


            <div class="about-content">
                <div class="row">
                    <div class="col-md-4 text-center ">
                        <h2 class="section-header ">مـن نـحـن </h2>
                    </div>
                    <div class="col-md-8  ">
                        <p class="paragraph   ">
                            ناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء. العديد من برامح النشر المكتبي وبرامح تحرير صفحات الويب تستخدم لوريم إيبسوم بشكل إفتراضي كنموذج عن النص،
                        </p>
                    </div>
                </div>
            </div>
            <div class="margin"></div>
            <div class="about-items">
                <div class="row">
                    <div class="col-lg-4 col-md-6 nopadding">
                        <div class="about-us-content text-center">
                            <span class="icon"><i class="fas fa-headset"></i></span>
                            <h5 class="header-item">تصليح هيدفون </h5>
                            <p class="paragraph"> سوف تجد افضل الصيانة والتصليح وتجديد اللكيبود والماوس والهيدفون وافضل صيانة لها </p>
                        </div>
                    </div>



                    <div class="col-lg-4 col-md-6 nopadding">
                        <div class="about-us-content text-center">
                            <span class="icon"><i class="fas fa-keyboard"></i></span>
                            <h5 class="header-item">تصليح كيبورد   </h5>
                            <p class="paragraph"> سوف تجد افضل الصيانة والتصليح وتجديد اللكيبود والماوس والهيدفون وافضل صيانة لها </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 nopadding">
                        <div class="about-us-content text-center">
                            <span class="icon"><i class="fas fa-mouse"></i></span>
                            <h5 class="header-item">تصليح ماوس  </h5>
                            <p class="paragraph"> سوف تجد افضل الصيانة والتصليح وتجديد اللكيبود والماوس والهيدفون وافضل صيانة لها </p>
                        </div>
                    </div>

                    <div class=" col-lg-4 col-md-6  nopadding">
                        <div class="about-us-content text-center">
                            <span class="icon"><i class="fas fa-gamepad"></i></span>
                            <h5 class="header-item">تصليح ماوس  </h5>
                            <p class="paragraph"> سوف تجد افضل الصيانة والتصليح وتجديد اللكيبود والماوس والهيدفون وافضل صيانة لها </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 nopadding">
                        <div class="about-us-content text-center">
                            <span class="icon"><i class="fas fa-gamepad"></i></span>
                            <h5 class="header-item">تصليح ماوس  </h5>
                            <p class="paragraph"> سوف تجد افضل الصيانة والتصليح وتجديد اللكيبود والماوس والهيدفون وافضل صيانة لها </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6  nopadding">
                        <div class="about-us-content text-center">
                            <span class="icon"><i class="fas fa-gamepad"></i></span>
                            <h5 class="header-item">تصليح ماوس  </h5>
                            <p class="paragraph"> سوف تجد افضل الصيانة والتصليح وتجديد اللكيبود والماوس والهيدفون وافضل صيانة لها </p>
                        </div>
                    </div>



                </div>
            </div>

        </div>
    </section>

    <!-------------
        end  about us
     -------------->
    <!--
      ~~~~~~~ start our work ~~~~~~~
    -->

    <section class="our-work " id="our-work">
        <div class="container-fluid">
            <div class="content text-center">
                <h3 class="section-header">أهـم اعمـالنـا </h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="content-twentey">
                        <div class="tewntytewnty-contianer">
                            <img src="image/slider1.jpg" alt="">
                            <img src="image/slider2.jpg" alt="">
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="content-twentey">
                        <div class="tewntytewnty-contianer">
                            <img src="image/slider1.jpg" alt="">
                            <img src="image/slider2.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="content-twentey">
                        <div class="tewntytewnty-contianer">
                            <img src="image/slider1.jpg" alt="">
                            <img src="image/slider2.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="content-twentey">
                        <div class="tewntytewnty-contianer">
                            <img src="image/slider1.jpg" alt="">
                            <img src="image/slider2.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="content-twentey">
                        <div class="tewntytewnty-contianer">
                            <img src="image/slider1.jpg" alt="">
                            <img src="image/slider2.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="content-twentey">
                        <div class="tewntytewnty-contianer">
                            <img src="image/slider1.jpg" alt="">
                            <img src="image/slider2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
         ~~~~~~~ end  our work ~~~~~~~
    -->

    <section class="section video" id="see-us">
        <div class="overlay"></div>
        <div class="container">
            <div class=" text-center">
                <h3 class="section-header">شـاهـدنـا </h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="content-video">
                        <div class="image-video">
                            <div class="img"></div>
                            <!--<img class="w-100"src="image/bg4.jpg" alt>-->
                        </div>
                        <div class="video-icon" id="video-icon">
                            <i class="fas fa-play   text-center"></i>

                        </div>
                        <div class="exit " id="exit">
                            <i class="fas fa-times"></i>
                        </div>



                        <iframe class="video-thumbnail " src="https://www.youtube.com/embed/9qVNFqCvhU8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="video-data">
                        <h3>سوف تجد افضل الصيانة معانا </h3>
                        <p class="text-justify"> نقوم بمعالجة وتفتكيك الاجهزة بعناية و من ثم ذلك ان نقوم بالصيانة المحترفة التى ينبغى ان نقوم بها على اكمل وجهه و فى افضل وقت و انسب سعر منافس فى السوق نقوم بمعالجة وتفتكيك الاجهزة بعناية و من ثم ذلك ان نقوم بالصيانة المحترفة التى ينبغى ان نقوم بها على اكمل وجهه و فى افضل وقت و انسب سعر منافس فى السوق </p>
                        <a href="https://www.youtube.com/channel/UC3xbtrMeQXx-_Yqsit4gIIw" target="blank" class="btn one">للمزيد من الفديوهات </a>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- start  reviews
    ---------------------------->

    <section class="reviews section " id="reviews">

        <div class="content text-center">
            <h3 class="section-header">أراء العملاء </h3>
        </div>



        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="container">
                    <div class="carousel-item active">
                        <div class="row">

                            <div class="col-lg-3 col-md-6 ">
                                <div class="content-items text-center">
                                    <div class="image">
                                        <img class="w-100" src="image/tools.png " alt="">
                                    </div>
                                    <h5>احمد محمد </h5>
                                    <p>  ن افضل الخدمات التى يقدمها  الموقع  فى تصلح وصيانة الا من افضل الخدمات التى يقدمها  الموقع  فى تصلح وصيانة الا</p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 ">
                                <div class="content-items text-center">
                                    <div class="image">
                                        <img class="w-100" src="image/tools.png  " alt="">
                                    </div>
                                    <h5>احمد محمد </h5>
                                    <p>  ن افضل الخدمات التى يقدمها  الموقع  فى تصلح وصيانة الا من افضل الخدمات التى يقدمها  الموقع  فى تصلح وصيانة الا</p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 ">
                                <div class="content-items text-center">
                                    <div class="image">
                                        <img class="w-100" src="image/tools.png " alt="">
                                    </div>
                                    <h5>احمد محمد </h5>
                                    <p>  ن افضل الخدمات التى يقدمها  الموقع  فى تصلح وصيانة الا من افضل الخدمات التى يقدمها  الموقع  فى تصلح وصيانة الا</p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 ">
                                <div class="content-items text-center">
                                    <div class="image">
                                        <img class="w-100 h-100" src="image/tools.png " alt="">
                                    </div>
                                    <h5>احمد محمد </h5>
                                    <p>  ن افضل الخدمات التى يقدمها  الموقع  فى تصلح وصيانة الا من افضل الخدمات التى يقدمها  الموقع  فى تصلح وصيانة الا</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="row">

                            <div class="col-lg-3 col-md-6 ">
                                <div class="content-items text-center">
                                    <div class="image">
                                        <img class="w-100" src="image/tools.png " alt="">
                                    </div>
                                    <h5>احمد محمد </h5>
                                    <p>  ن افضل الخدمات التى يقدمها  الموقع  فى تصلح وصيانة الا من افضل الخدمات التى يقدمها  الموقع  فى تصلح وصيانة الا</p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 ">
                                <div class="content-items text-center">
                                    <div class="image">
                                        <img class="w-100" src="image/tools.png  " alt="">
                                    </div>
                                    <h5>احمد محمد </h5>
                                    <p>  ن افضل الخدمات التى يقدمها  الموقع  فى تصلح وصيانة الا من افضل الخدمات التى يقدمها  الموقع  فى تصلح وصيانة الا</p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 ">
                                <div class="content-items text-center">
                                    <div class="image">
                                        <img class="w-100" src="image/tools.png  " alt="">
                                    </div>
                                    <h5>احمد محمد </h5>
                                    <p>  ن افضل الخدمات التى يقدمها  الموقع  فى تصلح وصيانة الا من افضل الخدمات التى يقدمها  الموقع  فى تصلح وصيانة الا</p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 ">
                                <div class="content-items text-center">
                                    <div class="image">
                                        <img class="w-100" src="image/tools.png " alt="">
                                    </div>
                                    <h5>احمد محمد </h5>
                                    <p>  ن افضل الخدمات التى يقدمها  الموقع  فى تصلح وصيانة الا من افضل الخدمات التى يقدمها  الموقع  فى تصلح وصيانة الا</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fas fa-arrow-left"></i></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"><i class="fas fa-arrow-right"></i></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
    </section>



    <!--
      ~~~~~~~~~~ strat a pup up video ~~~~~~~~~~~~~

    -->

    <div class="fixed-video" id="fixed-video">
        <div class="container">
            <div class="content-video">
                <iframe width="600" height="350" src="https://www.youtube.com/embed/9Pb1XxOqpYA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <!--
      ~~~~~~~~~~ end  a pup up video ~~~~~~~~~~~~~

    -->
    <!-- end   reviews
      ---------------------------->
    <footer class="footer ">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="contact">
                        <h4>أتصل بنا </h4>
                        <ul class="list-unstyled nopadding ">
                            <li>
                                <i class="fas fa-map-marked-alt"></i>   شارع الغريب مفترع من شارع السودان
                            </li>
                            <li>
                                <a href="01228595201">
                                    <i class="fas fa-phone   text-center"></i>  01228595201
                                </a>
                            </li>
                            <li>
                                <a href="am2202174@gmail.com">
                                    <i class="far fa-envelope"></i> ahmed@doomain.com
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="follow-us">
                        <h4>تابعنا </h4>
                        <ul class="list-unstyled icons  nopadding d-flex">
                            <li> <a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li> <a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li> <a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4>ساعات العمل </h4>
                    <div class="hours-work">
                        <ul class="list-unstyled nopadding">
                            <li class="d-flex">
                                <span class="day">السبت</span>
                                <span class="time text-left"> 6 : 10</span>
                            </li>

                            <li class="d-flex">
                                <span class="day">الاحد</span>
                                <span class="time text-left"> 6 : 10</span>
                            </li>
                            <li class="d-flex">
                                <span class="day">الاتنين  </span>
                                <span class="time"> 6 : 10</span>
                            </li>
                            <li class="d-flex">
                                <span class="day"> الثلاثاء</span>
                                <span class="time text-left"> 6 : 10</span>
                            </li>
                            <li class="d-flex">
                                <span class="day">الاربعاء </span>
                                <span class="time text-left"> 6 : 10</span>
                            </li>
                            <li class="d-flex">
                                <span class="day">الخميس </span>
                                <span class="time text-left"> 6 : 10</span>
                            </li>
                            <li class="d-flex">
                                <span class="day">الجمعة: </span>
                                <span class="time"> close</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4>موقعنا </h4>
                    <div class="map">
                        <div class="contianer-map">
                            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=soudan%20cairo+()&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> <a href='https://www.symptoma.ae/ar/info/covid-19#info'>COVID</a>
                            <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=c0050f61ff8d07b754b8f12c57cde5f5f6a00ffb'></script>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright text-center">
            <p>جميع الحقوق محفوظة  &copy; 2020</p>
        </div>
    </footer>






    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/jquery.event.move.js"></script>
    <script src="js/jquery.twentytwenty.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="js/main.js"></script>
</body>
</html>